# Data
data/logs.json
data/avatar/*
data/accounts/*
data/config.json
data/images/*
data/problems/*
!data/avatar/avt.default
!data/problems/image.default

# Cache Folder
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
log.txt