Options -Indexes
Order allow,deny
Allow from all
Require all granted

ErrorDocument 400 /libs/error.php
ErrorDocument 401 /libs/error.php
ErrorDocument 403 /libs/error.php
ErrorDocument 404 /libs/error.php
ErrorDocument 405 /libs/error.php
ErrorDocument 406 /libs/error.php
ErrorDocument 408 /libs/error.php
ErrorDocument 414 /libs/error.php
ErrorDocument 500 /libs/error.php
ErrorDocument 502 /libs/error.php