
#error {
    position: relative;
    display: flex;
    flex-direction: row;

    overflow-x: hidden;
    overflow-y: auto;
}

#error sy {
    display: inline;
    color: rgb(187, 75, 0);
	font-weight: 600;
}

#error sr {
    display: inline;
    color: rgb(155, 0, 47);
	font-weight: 600;
}

#error > .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

	text-align: center;
	margin: 100px auto;
}

#error > .content > .code {
	margin: 20px 0 0;
	font-size: 98px;
}

#error > .content > .error {
	margin: unset;
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#error > .content > .info {
	font-size: 14px;
	color: rgb(55, 55, 55);
}