@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(/data/fonts/MaterialIcons-Regular.ttf) format("truetype");
    /* For IE6-8 */
    src: local("Material Icons"),
    local("MaterialIcons-Regular"),
    url(/data/fonts/MaterialIcons-Regular.woff) format("woff"),
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}