@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
        url("Comfortaa-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa SemiBold"), local("Comfortaa-SemiBold"),
        url("Comfortaa-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa Medium"), local("Comfortaa-Medium"),
        url("Comfortaa-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
        url("Comfortaa-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa Light"), local("Comfortaa-Light"),
        url("Comfortaa-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

