Options +FollowSymLinks -Indexes
Order allow,deny
Allow from all
Require all granted

<IfModule headers_module>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

# Rewrite url
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]