Options +FollowSymLinks -Indexes
Order allow,deny
Allow from all
Require all granted

Header set Access-Control-Allow-Origin "*"

# Rewrite url
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]